body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



a {
  color: #00B7FF;
}

/* CSS to deal with constraint validation styles */
input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid green;
}


/* A MODIFIER ET AMELIORER*/
#rules{
  color: rgb(0, 0, 0);
  font-size: 20px;
 
  opacity: 0;
   
}

#rules.visible {
  opacity: 1;
  
  transition: all 2s ease-out; 
}

#toMakeInvisible{
  opacity: 1;
  
  transition: all 2s ease-out; 
}
#toMakeInvisible.yes{
  opacity: 0  ;
  transform: translateY(-200px);
  transition: all 2s ease-out; 

}

#page{
  color: black;
}

#footerText{
  color: gray;
  font-size: 12px;
}


.animation.active {
  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
